.Header {
	background-color: #212121;
	grid-area: h;
}

.nav-header{
	display: inline-flex;
	padding: 10px 25px;
	cursor: pointer;
	font-size: 24px;
}

.nav-header:hover{
	background-color: #262626;
}

.googlePlay-logo{
	width: 30px;
	height: 35px;
	margin-right: 5px;
}

.googlePlay{
	padding: 5px 0;
}

.cont-nav{
	float: right;
	padding: 15px 25px;
}

.profile-icon{
	width: 30px;
	height: 30px;
	margin-right: 5px;
}