.img {
	max-width: 150px;max-height: 150px;
	margin: 0.5%;
}

.container{
	margin: 1% 2%;
	background-color: #262626;
	padding: 1% 1%;
	border-radius: 10px;
}

.info{
	display: inline-flex;
}

.description{
	margin: 0.5%;

}