.navbar {
	background-color: #212121;
	font-size: 20px;
	grid-area: n;
}

.navBtn{
	padding: 15px 40px;
	cursor: pointer;
}

.navBtn1{
	background-color: #015f05;
	 color: #cecece;
}

.navBtn1:hover{
	background-color: #016c04 !important;
}

.navBtn:hover{
	background-color: #262626;
}