body {
  background-color: rgb(49, 49, 49);
  font-family: Arial, Calibri sans-serif;
  color: #adadad;
  margin: 0 auto;
}

.wrapper{
  display: grid;
  
  grid-template-columns: 2fr 7fr;
  
  grid-template-areas:
  "h h"
  "n c";
  
}
